@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small default to ensure larger readable UI */
html { font-size: 16px; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
